# SQL and SQLite

SQL(structured query language) is a standard language for managing and manipulating raltional databases , SQLite is a self-contained , serverless, and zero-configuration databases engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
##connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [ ]:
## create a table
cursor.execute('''
Create Table If Not Exists employees (id Integer Primary Key, name Text Not Null,
age Integer,
department text
)
''')
## commmit the cahgne 
connection.commit()

In [7]:
cursor.execute('''
Select * from employees
''')

In [11]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees (name,age,department) values('amar',23,'cse')
               
''')
cursor.execute('''
Insert Into employees (name,age,department) values('akaash',23,'cse')
               
''')
cursor.execute('''
Insert Into employees (name,age,department) values('ravi',23,'cse')
               
''')

## commit the chages 
connection.commit()

In [12]:
## Qerying the data from sqlite itself

cursor.execute('Select * from employees ')
rows=cursor.fetchall()

## printing the qeruy data
for row in rows:
    print(row)

(1, 'amar', 23, 'cse')
(2, 'akaash', 23, 'cse')
(3, 'ravi', 23, 'cse')
(4, 'amar', 23, 'cse')
(5, 'akaash', 23, 'cse')
(6, 'ravi', 23, 'cse')
(7, 'amar', 23, 'cse')
(8, 'akaash', 23, 'cse')
(9, 'ravi', 23, 'cse')

In [14]:
## updata the data into table

cursor.execute('''
UPDATE employees 
    Set age=34 where name='ravi'
''')
connection.commit()

In [15]:
cursor.execute('Select * from employees ')
rows=cursor.fetchall()

## printing the qeruy data
for row in rows:
    print(row)

(1, 'amar', 23, 'cse')
(2, 'akaash', 23, 'cse')
(3, 'ravi', 34, 'cse')
(4, 'amar', 23, 'cse')
(5, 'akaash', 23, 'cse')
(6, 'ravi', 34, 'cse')
(7, 'amar', 23, 'cse')
(8, 'akaash', 23, 'cse')
(9, 'ravi', 34, 'cse')

In [18]:
## Delete the data from table

cursor.execute('''
DELEte from employees where name='akaash'
''')
connection.commit()

In [19]:
cursor.execute('Select * from employees ')
rows=cursor.fetchall()

## printing the qeruy data
for row in rows:
    print(row)

(1, 'amar', 23, 'cse')
(3, 'ravi', 34, 'cse')
(4, 'amar', 23, 'cse')
(6, 'ravi', 34, 'cse')
(7, 'amar', 23, 'cse')
(9, 'ravi', 34, 'cse')

In [23]:
## bulk insertion

cursor.execute('''
Create Table If Not exists sales( date DATE not null, category TEXT NOT NULL , count Integer, region TEXT )
''')
sales_data=[
    ('2023-01-01','Product1',100,'South'),
    ('2023-01-02','Product5',400,'North'),
    ('2023-01-03','Product3',200,'East'),
    ('2023-01-05','Product2',500,'North'),
    ('2023-01-04','Product1',100,'South'),
]

cursor.executemany('''
Insert into sales(date, category,count,region)
                   values(?,?,?,?)

''',sales_data)
connection.commit()

In [24]:
cursor.execute('Select * from sales ')
rows=cursor.fetchall()

## printing the qeruy data
for row in rows:
    print(row)

('2023-01-01', 'Product1', 100, 'South')
('2023-01-02', 'Product5', 400, 'North')
('2023-01-03', 'Product3', 200, 'East')
('2023-01-05', 'Product2', 500, 'North')
('2023-01-04', 'Product1', 100, 'South')
('2023-01-01', 'Product1', 100, 'South')
('2023-01-02', 'Product5', 400, 'North')
('2023-01-03', 'Product3', 200, 'East')
('2023-01-05', 'Product2', 500, 'North')
('2023-01-04', 'Product1', 100, 'South')

In [25]:
## close the connection
connection.close()
cursor.execute('Select * from sales ')
rows=cursor.fetchall()

## printing the qeruy data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.